@import "lib/functions";
@import "lib/mixins";
@import "lib/settings";

.#{get(wrapper)} {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: get(max-width);
    @include clearfix;
    @if $grid-debug == true or $grid-wrapper-debug == true {
        @include debug(.2, -1);
    }

    @if get(separate-rows) {
        + .#{get(wrapper)} {
            margin-top: (get(margin-width) * .5);
        }
    }

    [#{get(attribute)}] {
        box-sizing: border-box;
        float: left;
        margin: 0 0 0 get(margin-width);
        &:first-child {
            margin-left: 0;
        }
    }

    @for $i from 1 through get(column-count) {
        $width-px: (
            get(max-width)
            * ($i/get(column-count))
            - (get(margin-width) - (strip-unit(get(margin-width)) / get(column-count)))
        );

        [#{get(attribute)}="#{$i}"] {
            width: $width-px;

            @if $grid-debug == true or $grid-col-debug == true {
                @include debug(1, -1);
            }
        }
    }
}

