.row {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  position: relative; }
  .row:before, .row::before, .row:after, .row::after {
    content: " ";
    display: table; }
  .row:after, .row::after {
    clear: both; }
  .row:before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(13, 235, 242, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .row + .row {
    margin-top: 0.8%; }
  .row [col-span] {
    box-sizing: border-box;
    float: left;
    margin: 0 0 0 1.6%; }
    .row [col-span]:first-child {
      margin-left: 0; }
  .row [col-span="1"] {
    width: 6.86667%;
    position: relative; }
    .row [col-span="1"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #0dbdf2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="2"] {
    width: 15.2%;
    position: relative; }
    .row [col-span="2"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f2f20d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="3"] {
    width: 23.53333%;
    position: relative; }
    .row [col-span="3"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f20dd7;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="4"] {
    width: 31.86667%;
    position: relative; }
    .row [col-span="4"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #0df228;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="5"] {
    width: 40.2%;
    position: relative; }
    .row [col-span="5"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #24f20d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="6"] {
    width: 48.53333%;
    position: relative; }
    .row [col-span="6"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f2550d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="7"] {
    width: 56.86667%;
    position: relative; }
    .row [col-span="7"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f2460d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="8"] {
    width: 65.2%;
    position: relative; }
    .row [col-span="8"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f2aa0d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="9"] {
    width: 73.53333%;
    position: relative; }
    .row [col-span="9"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f2740d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="10"] {
    width: 81.86667%;
    position: relative; }
    .row [col-span="10"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #0df22b;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="11"] {
    width: 90.2%;
    position: relative; }
    .row [col-span="11"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #f20dd7;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .row [col-span="12"] {
    width: 98.53333%;
    position: relative; }
    .row [col-span="12"]:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #110df2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }

#content-wrap {
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
